.col-md-5{
  margin: 1rem auto;
  border-top: 4px solid firebrick;
  border-radius: 1.5rem;
  background: linear-gradient(to right, rgba(18, 194, 233, 0.4), rgba(196, 113, 237, 0.4), rgba(246, 79, 89, 0.4));
  padding: 1rem;
  max-height: 50rem;
  overflow: auto;
}
