<app-navbar></app-navbar>
<main>
  <div class="jumbotron">
    <h1 class="text-center">About</h1>
    <div class="container">
      <p class="text-center">
        Hospitalmanagement System houses a unique portfolio of services that
        keep healthcare professionals abreast of the latest and most significant
        developments within their clinical, surgical or management area.

        Covering all aspects of the hospital environment, Hospitalmanagement
        System provides both clinical and senior administrative staff with
        instant access to a comprehensive reference source introducing
        technologies, services and procedures our audience can employ to improve
        the management of their facilities.

        The site is complemented by two specialist journals, Practical Patient
        Care and Medical Imaging Technology concentrating on woundcare and
        infection control and medical imaging and radiology respectively.

        Both titles are circulated to an audience that includes not only
        clinicians with the authority to recommend new products, but also the
        managerial staff responsible for purchasing. By reaching both ends of
        the procurement chain we offer our advertisers the best possible
        platform from which to sell their services.
      </p>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <h3 class="text-center">
              24x7 access <fa-icon [icon]="faClock"></fa-icon>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
              dignissimos optio possimus minima quibusdam enim. Quia laboriosam
              laborum est, doloribus quibusdam, mollitia nobis dolorem a
              adipisci, ipsa in modi veritatis.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <h3 class="text-center">
              24x7 access <fa-icon [icon]="faClock"></fa-icon>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
              dignissimos optio possimus minima quibusdam enim. Quia laboriosam
              laborum est, doloribus quibusdam, mollitia nobis dolorem a
              adipisci, ipsa in modi veritatis.
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <h3 class="text-center">
              24x7 access <fa-icon [icon]="faClock"></fa-icon>
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
              dignissimos optio possimus minima quibusdam enim. Quia laboriosam
              laborum est, doloribus quibusdam, mollitia nobis dolorem a
              adipisci, ipsa in modi veritatis.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
