.slider{
    width: 100%;
    height: 80vh;
    .slide-img{
        width: 100%;
        height: 80vh;
    }
}

main{
    background: linear-gradient(to bottom, #fbf9ed 0%, #fbeaf8 100%);
    .jumbotron{
        background: transparent;
    }
}