/* You can add global styles to this file, and also import other style files */
main{
    padding-top: 4rem;
    min-height: 85vh;
}

input.ng-invalid.ng-touched{
  border: 1px solid firebrick;
  color: firebrick;
  &:active, &:focus, &:hover{
      border: 1px solid firebrick;
  }
  &::placeholder{
      color: firebrick;
  }
}
