<main>
  <div class="col-12">
    <div class="row">
      <div class="col-md-12">
        <h4 class="text-center">Add New Doctor</h4>
        <form
          class="form-group"
          (ngSubmit)="onAddDoctors(addDoctors)"
          #addDoctors="ngForm"
        >
          <div class="row">
            <div class="col-md-6">
              <input
                type="text"
                name="name"
                required
                ngModel
                placeholder="Enter Name*"
                class="form-control"
              />
              <br />
              <input
                type="email"
                name="email"
                required
                ngModel
                email
                placeholder="Enter Email*"
                class="form-control"
              />
              <br />
              <select name="gender" required ngModel class="form-control">
                <option value="" disabled selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <br />
              <select name="postId" required ngModel class="form-control">
                <option value="" disabled selected>Select Post</option>
                <option *ngFor="let post of posts" [value]="post.id">
                  {{ post.name }}
                </option>
              </select>
              <br />
            </div>
            <div class="col-md-6">
              <input
                type="number"
                name="fees"
                required
                min="0"
                placeholder="Enter Fees*"
                ngModel
                class="form-control"
              />
              <br />
              <input
                type="tel"
                name="mobile"
                required
                placeholder="Enter Phone Number*"
                ngModel
                class="form-control"
              />
              <br />
              <input
                type="number"
                name="experience"
                required
                ngModel
                placeholder="Enter Experience"
                min="0"
                class="form-control"
              />
              <div class="row" style="margin: 0.5rem auto; padding: 1rem 0">
                <div class="col-md-6">
                  <input
                    type="time"

                    name="open_time"
                    required
                    ngModel
                    placeholder="Enter Opening Time*"
                    class="form-control"
                  />
                </div>
                <div class="col-md-6">
                  <input
                    type="time"

                    name="close_time"
                    required
                    ngModel
                    placeholder="Enter Closing Time*"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <input
              type="submit"
              value="Add"
              class="btn btn-primary"
              [disabled]="!addDoctors.valid"
            />
          </div>
        </form>
      </div>
      <hr />
      <div class="col-md-12">
        <h4 class="text-center">All Doctors</h4>
        <form
          class="form-group"
          (ngSubmit)="onSearchDoctors(searchDoctorForm)"
          #searchDoctorForm="ngForm"
        >
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <br />
                <input
                  type="text"
                  class="form-control"
                  name="search"
                  required
                  ngModel
                  placeholder="Enter Doctor Name/Post*"
                />
              </div>
              <div class="col-4">
                <br />
                <input
                  type="submit"
                  value="Search"
                  class="btn btn-primary"
                  [disabled]="!searchDoctorForm.valid"
                />
                &nbsp;
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="onGetDoctors()"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
        <hr />
        <div class="col-12">
          <div class="row custom-row">
            <div class="col-1"><b>Name</b></div>
            <div class="col-1"><b>Email</b></div>
            <div class="col-1"><b>Gender</b></div>
            <div class="col-1"><b>Post</b></div>
            <div class="col-1"><b>Fees</b></div>
            <div class="col-1"><b>Mobile</b></div>
            <div class="col-1"><b>Experience</b></div>
            <div class="col-1"><b>Open</b></div>
            <div class="col-1"><b>Close</b></div>
            <div class="col-1"><b>Update</b></div>
            <div class="col-1"><b>Delete</b></div>
          </div>

          <form class="form-group" (ngSubmit)="onUpdateDoctor(f)" #f="ngForm" *ngFor="let doctor of doctors">
            <div class="row custom-row">
              <div class="col-1">
                <input
                  type="text"
                  name="name"
                  required
                  ngModel
                  placeholder="Enter Name*"
                  [(ngModel)]="doctor.name"
                  class="form-control"
                />
                <input type="hidden" name="id" hidden [(ngModel)]="doctor.id">
              </div>
              <div class="col-1">
                <input
                  type="email"
                  name="email"
                  required
                  ngModel
                  email
                  [(ngModel)]="doctor.email"
                  placeholder="Enter Email*"
                  class="form-control"
                />
              </div>
              <div class="col-1">
                <select
                  name="gender"
                  required
                  ngModel
                  [(ngModel)]="doctor.gender"
                  class="form-control"
                >
                  <option value="" disabled selected>Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="other">Other</option>
                </select>
              </div>
              <div class="col-1">
                <select
                  name="postId"
                  required
                  ngModel
                  [(ngModel)]="doctor.postId"
                  class="form-control"
                >
                  <option value="" disabled selected>Select Post</option>
                  <option *ngFor="let post of posts" [value]="post.id">
                    {{ post.name }}
                  </option>
                </select>
              </div>
              <div class="col-1">
                <input
                  type="number"
                  name="fees"
                  required
                  min="0"
                  placeholder="Enter Fees*"
                  ngModel
                  class="form-control"
                  [(ngModel)]="doctor.fees"
                />
              </div>
              <div class="col-1">
                <input
                  type="tel"
                  name="mobile"
                  required
                  ngModel
                  placeholder="Enter Experience"
                  class="form-control"
                  [(ngModel)]="doctor.mobile"
                />
              </div>
              <div class="col-1">
                <input
                  type="number"
                  name="experience"
                  required
                  ngModel
                  placeholder="Enter Experience"
                  min="0"
                  class="form-control"
                  [(ngModel)]="doctor.experience"
                />
              </div>
              <div class="col-1">
                <input
                  type="time"
                  name="open_time"
                  required
                  ngModel
                  placeholder="Enter Opening Time*"
                  class="form-control"
                  [(ngModel)]="doctor.open_time"
                />
              </div>
              <div class="col-1">
                <input
                  type="time"
                  name="close_time"
                  required
                  ngModel
                  placeholder="Enter Closing Time*"
                  class="form-control"
                  [(ngModel)]="doctor.close_time"
                />
              </div>
              <div class="col-1">
                <input type="submit" value="Update" [disabled]="!f.valid" class="btn btn-primary">
              </div>
              <div class="col-1">
                <button class="btn btn-danger" type="button" [attr.data-id]="doctor.id" (click)="onDeleteDoctor($event)">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
