<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#" [routerLink]="['/']">Hospital Management</a>
  <button
    class="navbar-toggler"
    (click)="collapse = !collapse"
    type="button"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse = true" [hidden]="collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['index']"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['edit']"
          routerLinkActive="active"
          >Edit</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [routerLink]="['']"
          (click)="onLogout()"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</nav>
